
/* FORMATAÇÃO GERAL */
input, textarea {
    border: none;
    border-radius: 0;
    outline: none;
    color: var(--text-color);
    font-family:  sans-serif, Arial, Helvetica !important; /* Coerção para Firefox */
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    padding: 0;
}

input[readonly] {
    cursor: default;
    transition: background-color 400ms ease-out;
}

div.container input:focus {
    border-bottom: 2px solid var(--blue);
}

div.container input[readonly]:focus {
    border-bottom: 1px solid var(--border-color);
}

div.container input[type=checkbox]:focus {
    border-bottom: initial;
}

input[readonly].bg-gray {
    background-color: var(--gray-c) !important;
}

input[type=number].fundo-vermelho {
    background-color: var(--danger-color) !important;
    color: var(--yt);
}

/* REQUISICAO PROPRIAMENTE DITA */

div.container {
    max-width: 1336px;
    min-width: 1336px;
    margin: 30px auto;
    border: 1px solid var(--border-color);
    border-right: none;
    padding-left: 20px;
}

@media print {
    div.container {
        visibility: visible;
        margin-top: 10px;
    }
}

div.container span {
    line-height: 1.2 !important;
}

div.container header {
    display: grid;
    grid-template-columns: 420px 669px 226px;
}

div.container input[type=number] {
    text-align: center;
}

div.container input {
    font-weight: bold;
}

/* CSS REUTILIZÁVEL */
div.linha-de-kits div.col-kits-abertos,
div.main header div.col-fnm,
div.body div.row input:first-child  {
    border-left: 1px solid var(--border-color);
}

header div.contentor-de-inputs,
div.col-de-emblema-us-distrito-nivel 
div.linha-de-emblema-e-republica,
div.container header 
div.col-com-h1-provincia-num-de-kits-e-consultas,
div.linha-de-kits div.col-kits-recebidos label,
div.linha-de-kits div.col-kits-abertos label,
div.container header div.col-tipo-de-requisicao,
div.main header div.col-fnm,
div.main header div.col-nome-de-farmaco,
div.linha-com-titulo-requisicao,
div.linha-de-controlo,
div.linha-de-controlo span:first-child,
div.linha-com-subtitulos-de-controlo span,
div.col-qtd-pedida, div.col-qtd-autorizada,
div.body div.row input  {
    border-right: 1px solid var(--border-color);
}

header div.contentor-de-inputs,
div.col-de-emblema-us-distrito-nivel 
div.linha-de-emblema-e-republica,
div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-titulo,
div.container header div.col-tipo-de-requisicao,
div.main header div.col-fnm,
div.main header div.col-nome-de-farmaco,
div.linha-com-titulo-requisicao,
div.linha-de-controlo,
div.col-qtd-pedida, div.col-qtd-autorizada,
div.body div.row input  {
    border-bottom: 1px solid var(--border-color);
}

header div.contentor-de-inputs {
    padding-left: 8px;
    display: flex;
    align-items: center;
    min-height: 27px;
    max-height: 27px;
    overflow: hidden;
}

header div.contentor-de-inputs input {
    flex: 1;
    margin-left: 2px;
    overflow: hidden;
    height: 23px;
}

/* CSS ESPECÍFICO */
header div.col-de-cmam-emblema-us-distrito-nivel {
    display: grid;
    grid-template-columns: 30px 390px;
}

div.col-de-cmam-emblema-us-distrito-nivel 
div.col-de-cmam-modelo-1 {
    background-color: var(--fullblack);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-de-cmam-modelo-1 span {
    color: var(--yt);
    transform: rotate(-90deg);
    display: inline-block;
    text-wrap: nowrap;
}


div.col-de-emblema-us-distrito-nivel 
div.linha-de-emblema-e-republica {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 85px;
    align-items: center;
}

div.linha-de-emblema-e-republica figure {
    margin: 0;
}

div.linha-de-emblema-e-republica figure img {
    display: block;
    margin: auto;
    width: 80px;
}

div.linha-de-emblema-republica 
div.col-de-republica {
    margin-top: 6px;
}

div.col-de-republica span {
    display: block;
    text-transform: uppercase;
    line-height: 1.5 !important;
}

/* COLUNA 2 */
div.container header 
div.col-com-h1-provincia-num-de-kits-e-consultas {
    display: grid;
    grid-template-rows: 86px 27px;
}

/* COL 2 - LINHA DE TITULO */
div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
}

div.linha-de-titulo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}

div.linha-de-titulo h1 sup {
    font-weight: 700;
}

div.linha-de-titulo input {
    border: 1px solid var(--border-color);
    height: 30px;
    margin-left: 20px;
    width: 215px;
    text-align: center;
    color: var(--brown);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif !important;
}

/* COL 2 - LINHA DE PROVINCIA */
div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-provincia { 
    display: grid;
    grid-template-columns: 241px 100px 208px 120px;
}

div.linha-de-kits div.col-kits-us-recebidos label,
div.linha-de-kits div.col-kits-us-abertos label,
div.linha-de-kits div.col-kits-ape-recebidos label,
div.linha-de-kits div.col-kits-ape-abertos label,
div.linha-de-provincia div.col-de-ate label,
div.linha-de-kits div.col-numero-de-consultas label {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
}

/* COL 2 - LINHA DE KITS */

div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-kits {
    display: grid;
    grid-template-columns: 241px 100px 156px 52px 120px;
    grid-template-areas: "numero-de-consultas numero-de-consultas kits-abertos kits-us-abertos kits-ape-abertos";
}

div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-kits input {
    margin-left: 0;
}

div.linha-de-kits div.col-numero-de-consultas {
    grid-area: numero-de-consultas;
    display: grid;
    grid-template-columns: 233px 1fr;
}

div.contentor-de-inputs.col-kits-recebidos,
div.contentor-de-inputs.col-kits-abertos {
    display: grid;
    grid-template-columns: 70px 1fr;
}

div.linha-de-kits div.col-kits-recebidos label {
    padding-right: 7px;
}

div.linha-de-kits div.col-kits-abertos {
    grid-area: kits-abertos;
    margin-left: -1px;
}

div.linha-de-kits div.col-kits-abertos label {
    padding-right: 8px;
}

div.linha-de-kits div.col-kits-us-abertos {
    grid-area: kits-us-abertos;
    padding: 0;
}

div.linha-de-kits div.col-kits-ape-abertos {
    grid-area: kits-ape-abertos;
}


div.linha-de-provincia div.col-de-ate,
div.linha-de-kits div.col-kits-us-recebidos,
div.linha-de-kits div.col-kits-us-abertos,
div.linha-de-kits div.col-kits-ape-recebidos,
div.linha-de-kits div.col-kits-ape-abertos {
    padding: 0;
    display: grid;
    grid-template-columns: 30px 1fr;
}

div.linha-de-provincia div.col-de-ate,
div.linha-de-kits div.col-kits-ape-recebidos,
div.linha-de-kits div.col-kits-ape-abertos {
    grid-template-columns: 35px 1fr;
}

div.linha-de-provincia div.col-de-ate label,
div.linha-de-kits div.col-kits-us-recebidos label,
div.linha-de-kits div.col-kits-us-abertos label,
div.linha-de-kits div.col-kits-ape-recebidos label,
div.linha-de-kits div.col-kits-ape-abertos label {
    justify-content: center;
}

/* COLUNA TIPO DE REQUISICAO */

div.container header
div.col-tipo-de-requisicao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 8px;
}

div.col-tipo-de-requisicao div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.col-tipo-de-requisicao 
div.linha-da-data-de-requisicao {
    justify-content: initial;
}

div.linha-da-data-de-requisicao {
    min-height: 18px;
}

div.linha-da-data-de-requisicao input {
    flex: 1;
    margin-left: 4px;
}

div.col-tipo-de-requisicao 
input[type=checkbox] {
    width: 20px;
    height: 20px;
}

/* CORPO DA FICHA */
div.container div.main header {
    display: grid;
    grid-template-columns: 60px 360px 669px repeat(2, 113px);
    margin: 5px 0 3px 0;
    border-top: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--yt);
}

div.container div.main header:nth-child(n+2) {
    display: none;
}

div.main div.body div.row:first-child {
    border-top: 1px solid var(--border-color);
}

@media print {
    div.container div.main header:nth-child(n+2) {
        display: grid;
        page-break-before: always;
    }

    div.main div.page-break {
        border-top: 1px solid var(--border-color);
    }
}

div.main header div.col-fnm {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main header 
div.col-nome-de-farmaco {
    display: grid;
    grid-template-rows: 3.76fr 1fr;
    padding: 0 8px;
}

div.col-nome-de-farmaco div.designacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-nome-de-farmaco div.nome-dosagem-forma {
    display: flex;
    justify-content: space-between;
}

div.main header 
div.col-requisicao-de-nivel-prov-ou-distrital {
    display: grid;
    grid-template-rows: repeat(2, 27px) 64px;
}

div.col-requisicao-de-nivel-prov-ou-distrital 
div.linha-com-subtitulos-de-controlo {
    display: grid;
    grid-template-columns: 85px repeat(2, 78px) 100px repeat(2, 78px) 87px 85px;
}

div.main header span,
div.main div.col-qtd-pedida,
div.main div.col-qtd-autorizada {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.linha-com-titulo-requisicao,
div.linha-de-controlo span {
    font-weight: 700;
    text-align: center;
}

div.linha-com-titulo-requisicao {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.linha-de-controlo {
    display: grid;
    grid-template-columns: 419px 1fr;
}

div.linha-com-subtitulos-de-controlo span {
    text-align: center;
    display: flex;
    justify-content: center;
}

div.linha-com-subtitulos-de-controlo span.diferenca {
    align-items: baseline;
    padding-top: 5px;
}

div.linha-com-subtitulos-de-controlo span:nth-child(n+9) {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

div.linha-com-subtitulos-de-controlo span:last-child {
    border-top: none;
}

div.col-qtd-pedida,
div.col-qtd-autorizada {
    text-align: center;
}

/* BODY DA FICHA */
div.main div.body {
    min-height: 540px;
}

div.main div.body div.row {
    display: grid;
    grid-template-columns: 60px 360px 85px repeat(2, 78px) 100px repeat(2, 78px) 87px 85px repeat(2, 113px);
    grid-template-rows: 27px;
    z-index: 999;
    position: relative;
}

div.main div.body div.row.hidden {
    display: none;
}

div.body div.row input {
    text-align: center;
}

div.body div.row input:nth-child(2) {
    padding: 0 8px;
    text-align: left;
}

/* Rodapé da ficha */
div.main footer {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    min-height: 60px;
    display: none;
    grid-template-columns: 761px 1fr;
}

div.main footer:last-child {
    display: grid !important;
}

@media print {
    div.main footer {
        display: grid;
        border-bottom: 1px solid var(--border-color);
    }

    div.main footer:last-child {
        border-bottom: none;
    }
}

div.main footer div:nth-child(2) {
    padding-left: 8px;
}

div.main footer input {
    min-width: 200px;
}

div.container {
    position: relative;
}

div.container aside {
    position: absolute;
    top: 326px;
    left: 0px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 470px;
    width: 20px;
}

div.container aside div {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    max-width: 20px;
 
}

div.container aside label {
    margin-right: 25px;
}

div.container aside input {
    width: 15px;
    height: 15px;

}

/* REFERENCE ROW */
div.reference-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: var(--azulCiano);
    display: none;
    transition-duration: 400ms;
}

div.reference-container.hidden {
    bottom: -40px;
}

@media screen and (max-width: 1300px) {
    div.reference-container {
        display: flex;
    }
}

div.ref-col {
    flex: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
}

@media screen and (max-width: 1300px) {
    div.ref-col {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

div.ref-col span {
    min-height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
}

/* JAVASCRIPT */
div.container, 
div.main header,
div.container input {
    transition: background-color 400ms ease-out;
}

.bgc-yellow {
    background-color: var(--yellow) !important;
}

.bgc-bluelight {
    background-color: var(--azulCiano) !important;
}

.hidden {
    display: none !important;
}
