
/* FORMATAÇÃO GERAL */
input, textarea {
    border: none;
    border-radius: 0;
    outline: none;
    color: var(--text-color);
    font-family:  sans-serif, Arial, Helvetica !important; /* Coerção para Firefox */
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    padding: 0;
}

input[type=text], input[type=date],
input[readonly] {
    font-weight: bold;
}

input[readonly] {
    cursor: default;
    transition: background-color 400ms ease-out;
}

input[readonly].bg-gray {
    background-color: var(--gray-c) !important;
}

input[type=number].fundo-vermelho {
    background-color: var(--danger-color) !important;
    color: var(--yt);
}

div.container input:focus {
    border-bottom: 2px solid var(--blue) !important;
}


/* REQUISICAO PROPRIAMENTE DITA */

div.container {
    max-width: 1340px;
    min-width: 1340px;
    margin: 20px auto 0 auto;
    border: 1px solid var(--border-color);
    border-bottom: none;
    padding-left: 14px;
}

div.container header {
    display: grid;
    grid-template-columns: 445px 669px 210px;
}

div.container input[type=number] {
    text-align: center;
}

div.container input {
    font-weight: bold;
}

/* CSS REUTILIZÁVEL */
header div.contentor-de-inputs {
    padding-left: 8px;
    display: flex;
    align-items: center;
    min-height: 27px;
    max-height: 27px;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

/*div.linha-de-provincia div.contentor-de-inputs:last-child,
div.linha-de-kits div.contentor-de-inputs:last-child {
    border-right: none;
}*/

header div.contentor-de-inputs input {
    flex: 1;
    margin-left: 2px;
    overflow: hidden;
    height: 23px;
}

/* CSS ESPECÍFICO */
header div.col-de-cmam-emblema-us-distrito-nivel {
    display: grid;
    grid-template-columns: 30px 415px;
}

div.col-de-cmam-emblema-us-distrito-nivel 
div.col-de-cmam-modelo-1 {
    background-color: var(--fullblack);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.col-de-cmam-modelo-1 span {
    color: var(--yt);
    transform: rotate(-90deg);
    display: inline-block;
    text-wrap: nowrap;
}


div.col-de-emblema-us-distrito-nivel 
div.linha-de-emblema-e-republica {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 85px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

div.linha-de-emblema-e-republica figure {
    margin: 0;
}

div.linha-de-emblema-e-republica figure img {
    display: block;
    margin: auto;
    width: 80px;
}

div.linha-de-emblema-republica 
div.col-de-republica {
    margin-top: 6px;
}

div.col-de-republica span {
    display: block;
    text-transform: uppercase;
    line-height: 1.5;
}

/* COLUNA 2 */
div.container header 
div.col-com-h1-provincia-num-de-kits-e-consultas {
    display: grid;
    grid-template-rows: 86px 27px;
    border-right: 1px solid var(--border-color);
}

/* COL 2 - LINHA DE TITULO */
div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 86px;
}

div.linha-de-titulo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}

div.linha-de-titulo h1 sup {
    font-weight: 700;
}

div.linha-de-titulo input {
    border: 1px solid var(--border-color);
    height: 30px;
    margin-left: 20px;
    width: 215px;
    text-align: center;
    color: var(--brown);
    font: 30px bold !important;
    font-family: 'Times New Roman', Times, serif !important;
}

/* COL 2 - LINHA DE PROVINCIA */
div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-provincia { 
    display: grid;
    grid-template-columns: 241px 100px 208px 120px;
}

div.linha-de-kits div.col-kits-us-recebidos label,
div.linha-de-kits div.col-kits-us-abertos label,
div.linha-de-kits div.col-kits-ape-recebidos label,
div.linha-de-kits div.col-kits-ape-abertos label,
div.linha-de-provincia div.col-de-ate label,
div.linha-de-kits div.col-numero-de-consultas label {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
}

/* COL 2 - LINHA DE KITS */

div.col-com-h1-provincia-num-de-kits-e-consultas 
div.linha-de-kits {
    display: grid;
    grid-template-columns: 241px 100px 156px 52px 120px;
    grid-template-areas: "numero-de-consultas numero-de-consultas kits-abertos kits-us-abertos kits-ape-abertos";
}

div.linha-de-kits div.col-numero-de-consultas {
    grid-area: numero-de-consultas;
    display: grid;
    grid-template-columns: 233px 1fr;
}

div.contentor-de-inputs.col-kits-recebidos,
div.contentor-de-inputs.col-kits-abertos {
    display: grid;
    grid-template-columns: 70px 1fr;
}

div.linha-de-kits div.col-kits-recebidos label {
    padding-right: 7px;
    border-right: 1px solid var(--border-color);
}

div.linha-de-kits div.col-kits-abertos {
    grid-area: kits-abertos;
    border-left: 1px solid var(--border-color);
    margin-left: -1px;
}

div.linha-de-kits div.col-kits-abertos label {
    border-right: 1px solid var(--border-color);
    padding-right: 8px;
}

div.linha-de-kits div.col-kits-us-abertos {
    grid-area: kits-us-abertos;
    padding: 0;
}

div.linha-de-kits div.col-kits-ape-abertos {
    grid-area: kits-ape-abertos;
}


div.linha-de-provincia div.col-de-ate,
div.linha-de-kits div.col-kits-us-recebidos,
div.linha-de-kits div.col-kits-us-abertos,
div.linha-de-kits div.col-kits-ape-recebidos,
div.linha-de-kits div.col-kits-ape-abertos {
    padding: 0;
    display: grid;
    grid-template-columns: 30px 1fr;
}

div.linha-de-provincia div.col-de-ate,
div.linha-de-kits div.col-kits-ape-recebidos,
div.linha-de-kits div.col-kits-ape-abertos {
    grid-template-columns: 35px 1fr;
}

div.linha-de-provincia div.col-de-ate label,
div.linha-de-kits div.col-kits-us-recebidos label,
div.linha-de-kits div.col-kits-us-abertos label,
div.linha-de-kits div.col-kits-ape-recebidos label,
div.linha-de-kits div.col-kits-ape-abertos label {
    justify-content: center;
}

/* COLUNA TIPO DE REQUISICAO */

div.container header
div.col-tipo-de-requisicao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
    border-bottom: 1px solid var(--border-color);
}

div.col-tipo-de-requisicao div.tipo {
    display: flex;
    justify-content: space-between;
}

div.col-tipo-de-requisicao input {
    width: 20px;
    height: 20px;
}

/* CORPO DA FICHA */
div.container div.main header {
    display: grid;
    grid-template-columns: 70px 375px 584px 84px repeat(2, 110px);
    margin-top: 8px;
    border-top: 1px solid var(--border-color);
}

div.main header div.col-fnm {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main header div.col-nome-de-farmaco {
    border-right: 1px solid var(--border-color);
}

div.main header div.col-requisicao-de-nivel-prov-ou-distrital {
    display: grid;
    grid-template-rows: repeat(2, 25px) 50px;
}

div.col-requisicao-de-nivel-prov-ou-distrital 
div.linha-com-subtitulos-de-controlo {
    display: grid;
    grid-template-columns: 85px repeat(2, 78px) 100px repeat(2, 78px) 87px;
}

div.linha-com-titulo-requisicao,
div.linha-de-controlo span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

div.linha-com-titulo-requisicao {
    border-bottom: 1px solid var(--border-color);
}

div.linha-de-controlo {
    display: grid;
    grid-template-columns: 419px 1fr;
    border-bottom: 1px solid var(--border-color);
}

div.linha-de-controlo span:first-child {
    border-right: 1px solid var(--border-color);
}

div.linha-com-subtitulos-de-controlo span {
    text-align: center;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--border-color);
}

div.col-qtd-a-requisitar {
    padding-top: 50px;
}

div.col-qtd-a-requisitar,
div.col-qtd-pedida,
div.col-qtd-autorizada {
    text-align: center;
}

@media print {

    div.container {
        visibility: visible;
    }
}